@model ProductDetailsModel

@{
    ViewBag.Title = $"{Model.Name}";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<br />

<style>
    .product-details {
        text-align: center;
    }

    .product-image {
        max-width: 300px;
        margin: 0 auto;
    }

    .product-description {
        font-size: 18px;
        margin-bottom: 32px;
    }

    .product-price {
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 32px;
    }

    .product-category {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 32px;
    }
</style>

<div class="container">
    <div class="row product-details">
        <div class="col-md-6">
            <img src="@Model.ImageUrl" class="img-fluid product-image" alt="Product Image">
        </div>
        <div class="col-md-6">
            <p class="product-description">@Model.Description</p>
            <p class="product-price">Price: $@String.Format("{0:f2}", Model.Price)</p>
            <p class="product-category">Category: @Model.Category</p>
            @if (this.User.Identity.IsAuthenticated)
            {
                <a class="btn btn-warning" asp-controller="Product" asp-action="Edit"
                   asp-route-id="@Model.Id">Edit</a>
                <a class="ml-2 btn btn-danger" asp-controller="Product" asp-action="Delete"
                   asp-route-id="@Model.Id">Delete</a>
            }
            <a class="btn btn-success btn-sm" asp-controller="Cart" asp-action="AddToCart"
               asp-route-id="@Model.Id">Add to Cart</a>
        </div>
    </div>
</div>