@model ProductServiceModel

<div class="card h-100">
    <img class="card-img-top" src="@Model.ImageUrl" alt="@Model.Name">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">Price: $@String.Format("{0:f2}", Model.Price)</p>
    </div>
    <div class="card-footer">
        <a class="btn btn-primary btn-sm mr-2" asp-controller="Product" asp-action="Details"
           asp-route-id="@Model.Id">Details</a>
        
        @if (this.User.Identity.IsAuthenticated)
        {
            <a asp-area="" asp-controller="Product" asp-action="Edit" asp-route-id="@Model.Id"
               class="btn btn-warning">Edit</a>
            <a asp-area="" asp-controller="Product" asp-action="Delete" asp-route-id="@Model.Id"
               class="btn btn-danger">Delete</a>
            <p></p>
        }
        @if (this.User.Identity.IsAuthenticated)
        {
            <a class="btn btn-success btn-sm" asp-controller="Cart" asp-action="AddToCart"
               asp-route-id="@Model.Id">Add to Cart</a>
        }
    </div>
</div>
